/*---------------------------------
Tag styles
----------------------------------*/
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', Arial !important;
    background: linear-gradient(180deg, rgba(26, 18, 161, 1) 5%, rgba(7, 22, 66, 1) 78%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

ul {
    margin: auto;
    padding: 10px;
}

li {
    height: 35px;
}

input {
    background-color: #0DB8DE;
    border-top: 0;
    border-radius: 0;
    outline: 1px solid #0DB8DE;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

/*---------------------------------
Class styles
----------------------------------*/

.login-page,
.userProfile,
.dashboard {
    opacity: 1;
    transition: opacity 1s ease-in;
    max-width: 980px;
    margin: auto;
}


.login-box {
    margin: 20% auto;
    background: white;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-key {
    margin-top: 50px;
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    color: black;
}

.login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
}


.login-form {
    margin-top: 25px;
    margin-bottom: 100px;
    text-align: left;
}


.form-group {
    margin-bottom: 40px;
    outline: 0;
}


.form-control {
    border: none !important;
    border-bottom: 2px solid #0DB8DE !important;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0DB8DE;
    outline: 0;
}

.btn-outline-primary {
    border-color: #0DB8DE;
    color: #0DB8DE;
    border-radius: 0;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
    background-color: #0DB8DE;
    right: 0;
}

.login-btm {
    display: flex;
    float: left;
}

.login-button {

    padding: 0 50px;
    text-align: center;
    margin-bottom: 25px;
}

.login-button button {

    margin-right: 20px;
}

.login-text {
    text-align: center;
    color: #A2A4A4;
}

.loginbttm {
    padding: 0px;
    margin-top: 20px;
}


.fa-globe {
    color: black;
}

/* window for displaying messages*/
.info-window {
    position: fixed;
    top: 50px;
    left: 50%;
    padding: 15px;
    font-size: 20px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    transform: scale(1.1);
    z-index: 1;
    opacity: 0;
    transition: visibility 0s linear 0.25s, opacity 0.25s linear 0s, transform 0.25s;
}

.show-info {
    opacity: 1;
    visibility: visible;
    display: inline;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    z-index: 2;
}

/* validation*/
.error-input {
    color: red;
    border: 2px solid red;
}

.error-msg {
    padding: 5px;
    font-size: 15px;
    background: #F9DDDD;
    color: #D48582;
    /* position: absolute;*/
    border-radius: 3px;
    vertical-align: baseline;
}

.error-msg p {
    margin: auto;
}

/* user profile frame*/

.buttonBack {
    position: absolute;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: transparent;
}

.buttonBack .iconify {
    width: 48px;
    height: 48px;
    color: white;
}

.userProfile {
    display: flex;
    width: 100%;
    /*overflow-y: auto;*/
    position: relative;
    margin: 50px 0px 0px 100px;
    float: left;
    opacity: 1;
    transition: opacity 1s ease-in;
}

.languages-wrapper {

    overflow: auto;
}


.profileInfo {
    display: flex;
    flex-direction: column;
}

.profileInfo,
.profile-languages {
    padding: 50px;
    background-color: white;
    border-radius: 5%;
}


.flag {
    position: relative;
    bottom: 2em;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.userIcon {
    width: 10rem;
    height: 10rem;
    margin: 2rem;
}

.chooseLanguage {
    width: 5rem;
    height: 5rem;
    margin: auto;
    background-color: #0DB8DE;
}

.profile-languages {
    text-align: center;
    height: 5rem;
    display: flex;
    margin-bottom: 5%;
    margin-left: 50px;
    transition: 0.3s linear all;
}

.languages-wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin-top: 230px;
    margin-left: 50px;

}

.profile-languages:hover {
    box-shadow: 3px 3px 5px 6px white;
    transition: 0.5s linear;
}


.language-label {
    font-weight: bold;
    font-size: 30px;
    margin: auto;
    margin-top: -25px;

}

.icon-new-language {
    width: 64px;
    height: 64px;
}

.add-icon {
    width: 2rem;
    height: 2rem;
}

#modal-lan * {
    margin-bottom: 20px;
}

/*--------------------------------------
DASHBOARD
-----------------------------------------*/


.dashboard-title {

    color: white;
    text-align: center;
    margin-top: 50px;

}

.navbar {
    color: white;
    border-radius: 5px;
    margin: auto;
}

.nav-links {
    padding: 0;
    margin: auto;
    text-align: center;
}


.nav-links li:hover {

    font-size: 2.3rem;
    color: #0DB8DE;
    transition: all 0.3s linear;
}

.nav-links li {
    list-style-type: none;
    display: inline;
    padding: 0 18px;
    cursor: pointer;
    font-size: 2rem;
    transition: all 0.3s linear;
}

.search-container {
    justify-content: space-evenly;
    margin-top: 40px;
    display: flex;
}

.search-bar {
    background-color: white;
    border-radius: 5px;
    padding: 8px;
}

.add-item i {

    color: white;
    font-size: 40px
}

.cards-container {
    display: flex;
    margin: 200px auto;
    flex-wrap: wrap;
    border-radius: 5px;
    justify-content: space-between;
    /*box-shadow: 2px 2px 57px 5px rgb(0 0 0);*/
}

.box {
    background-color: #d6e0f0;
    padding: 15px;
    text-align: center;
    color: black;
    font-size: 22px;
    border-radius: 5px;
    cursor: pointer;
}

.add-button {
    text-align: center;
    color: white;
}

.search {
    cursor: pointer;
    border-radius: 5px;
    padding: 8px;
}

/* MODAL */
.modal,
.modal-box {
    z-index: 900;
}

.modal-sandbox {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
}

.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    overflow: auto;
}

.modal-box {
    position: relative;
    width: 80%;
    max-width: 920px;
    margin: 100px auto;
    animation-name: modalbox;
    animation-duration: 0.4s;
    animation-timing-function: cubic-bezier(0, 0, 0.3, 1.6);

}

.modal-header {
    padding: 20px 40px;
    overflow: auto;
    background: #d6e0f0;
    color: black;
    display: block;
}

.modal-body {
    background: #ECEFF1;
    padding: 60px 40px;
}

/* Close Button */
.close-modal {
    text-align: right;
    cursor: pointer;
}

#wordsContainer {
    background-color: white;
    display: flex;
}

/* Aditional Styles */

#search-word {
    width: 3rem;
    height: 2.3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

/*Form Area*/
#addWord label {
    width: 35%;
    height: 70px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.192) 4.1px 4.1px 4.1px 0;

    background-color: #edc988;
    text-align: justify;
    padding: 15px;

}

#addWord li {
    list-style-type: none;
    text-align: center;
    padding: 25px;
}

.completed {
    text-align: center;
    margin: 50px;

}


#addWord .btn {
    margin-left: 20px;
    display: table-row-group;
    float: right;
    width: 18%;
    height: 30px;
    margin-left: 30px;
}

#addButton {
    height: 1.5rem;
    font-family: "Dosis", sans-serif;
    width: auto;
    height: auto;

}

#clearButton {
    height: 1.5rem;
    font-family: "Dosis", sans-serif;
    width: auto;
    height: auto;
}

.buttons {
    text-align: center;
}

/*.add-word-to-group {
    background-color: white;
    display: flex;
    margin: 25px auto;
    padding: 10px;
    text-align-last: center;
    width: 10rem;
    border: none;
    border-radius: 5px;
}
*/


#addWord {
    text-align: center;
}

.add-group-container {
    text-align: center;
}



/*---------------------------
Utilities
---------------------------*/


.invisible {
    opacity: 0;
    transition: opacity 1s ease-in;
}


.hidden {
    display: none;

}


/* Animation */
@-webkit-keyframes modalbox {
    0% {
        top: -250px;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes modalbox {
    0% {
        top: -250px;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}