html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Montserrat', Arial !important;
    /* height: 100%;*/
    width: 100%;
    background: rgb(26, 18, 161);
    background: linear-gradient(180deg, rgba(26, 18, 161, 1) 5%, rgba(7, 22, 66, 1) 78%);
    background-repeat: no-repeat;
}


.login-page {
    transition: opacity 1s ease-in;
}

.login-box {
    margin-top: 40%;
    background: white;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-key {
    margin-top: 50px;
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    color: black;
}

.login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
}


.login-form {
    margin-top: 25px;
    margin-bottom: 100px;
    text-align: left;
}

input {
    background-color: #0DB8DE;
    border-top: 0;
    border-radius: 0;
    outline: 1px solid #0DB8DE;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

.form-group {
    margin-bottom: 40px;
    outline: 0;
}


.form-control {
    border: none !important;
    border-bottom: 2px solid #0DB8DE !important;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0DB8DE;
    outline: 0;

}


.btn-outline-primary {
    border-color: #0DB8DE;
    color: #0DB8DE;
    border-radius: 0;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
    background-color: #0DB8DE;
    right: 0;
}

.login-btm {
    display: flex;
    float: left;
}

.login-button {

    padding: 0 50px;
    text-align: center;
    margin-bottom: 25px;
}

.login-button button {

    margin-right: 20px;
}

.login-text {
    text-align: center;
    color: #A2A4A4;
}

.loginbttm {
    padding: 0;
}


.fa-globe {

    color: black;
}


.info-window {
    position: fixed;
    top: 50px;
    left: 50%;
    padding: 15px;
    font-size: 20px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    transform: scale(1.1);
    z-index: 1;
    opacity: 0;
    transition: visibility 0s linear 0.25s, opacity 0.25s linear 0s, transform 0.25s;
}


.show-info {
    opacity: 1;
    visibility: visible;
    display: inline;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    z-index: 2;
}


/* form error */
.error-input {
    color: red;
    border: 2px solid red;
}

.error-msg {
    padding: 5px;
    font-size: 15px;
    background: #F9DDDD;
    color: #D48582;
    position: absolute;
    border-radius: 3px;
    vertical-align: baseline;
}

.error-msg p {
    margin: auto;
}

/* index2.html*/

.userProfile {
    display: flex;
    background-color: white;
    margin: 30% auto;

}

.userIcon {
    width: 5rem;
    height: 5rem;
    margin: 2rem;

}

.profileInfo {
    margin: 30.0px 40px;
}

.chooseLanguage {
    width: 5rem;
    height: 5rem;
    margin: auto;
    background-color: #0DB8DE;
}


/*Utilities*/


.invisible {
    opacity: 0;
}


.hidden {
    display: none;
}

.add-icon {
    width: 2rem;
    height: 2rem;

}


select {
    margin: 30px 0;
    background: white;
    border: 1px solid darkgrey;
    border-radius: 5px;

}

#add-language {
    margin: 55px auto;
    background: white;
    border: 1px solid darkgrey;
    border-radius: 5px;
}


/* html2*/
.dashboard {
    margin-top: 30px;
    padding: 15px;
}

.navbar {
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    margin: auto;
}

.nav-links {
    padding: 0;
    margin: auto;
}

.nav-links li {
    list-style-type: none;
    display: inline;
    padding: 0 60px;
    cursor: pointer;
    font-size: 32px;
}

.search-container {
    text-align: center;
    margin-top: 40px;
}

.search-bar {
    background-color: white;
    border-radius: 5px;
    padding: 8px;
}

.cards-container {
    display: flex;
    background-color: white;
    height: 15rem;
    margin: 59px auto;
    border-radius: 5px;
    width: 75%;
    -webkit-box-shadow: 2px 2px 57px 5px rgb(0 0 0);
    -moz-box-shadow: 2px 2px 57px 5px rgba(4, 2, 66, 1);
    box-shadow: 2px 2px 57px 5px rgb(0 0 0);
}

.box1,
.box2,
.box3 {
    background-color: #d6e0f0;
    height: 5rem;
    margin: auto;
    padding: 15px;
    text-align: center;
    color: black;
    font-size: 22px;
    text-decoration: underline;
    border-radius: 5px;
}

.add-button {
    text-align: center;
    color: white;
}

.search {
    cursor: pointer;
    border-radius: 5px;
    padding: 8px;
}


/*=========================*/
.modal,
.modal-box {
    z-index: 900;
}

.modal-sandbox {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
}

.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.8);
    overflow: auto;
}

.modal-box {
    position: relative;
    width: 80%;
    max-width: 920px;
    margin: 100px auto;
    animation-name: modalbox;
    animation-duration: 0.4s;
    animation-timing-function: cubic-bezier(0, 0, 0.3, 1.6);

}

.modal-header {
    padding: 20px 40px;
    height: 35rem;
    overflow: auto;
    background: #d6e0f0;
    color: black;
    display: block;
}

.modal-body {
    background: #ECEFF1;
    padding: 60px 40px;
}

/* Close Button */
.close-modal {
    text-align: right;
    cursor: pointer;
}

/* Animation */
@-webkit-keyframes modalbox {
    0% {
        top: -250px;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes modalbox {
    0% {
        top: -250px;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

/* Aditional Styles */

#search-word {
    width: 3rem;
    height: 2.3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.modal-trigger {
    position: absolute;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: ease 0.2s;
}


.modal-trigger:hover {
    padding: 20px 60px;
}

.form-group input {
    height: 60px;
    width: 60%;
    border-radius: 4px;
    padding: 15px;


}

/*Form Area*/
#addWord label {
    width: 35%;
    height: 70px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.192) 4.1px 4.1px 4.1px 0;

    background-color: #edc988;
    text-align: justify;
    padding: 15px;

}

#addWord li {
    list-style-type: none;
    text-align: center;
    padding: 25px;
}

.completed {
    text-align: center;
    margin: 50px;

}


#addWord .btn {
    margin-left: 20px;
    display: table-row-group;
    float: right;
    width: 18%;
    height: 30px;
    margin-left: 30px;
}

#addButton {
    height: 1.5rem;
    font-family: "Dosis", sans-serif;
    width: auto;
    height: auto;

}

#clearButton {
    height: 1.5rem;
    font-family: "Dosis", sans-serif;
    width: auto;
    height: auto;
}

ul {
    margin: auto;
    padding: 10px;
}

li {
    height: 35px;
}

.buttons {
    text-align: center;
}

.add-word-to-group {
    background-color: white;
    display: flex;
    margin: 25px auto;
    padding: 10px;
    text-align-last: center;
    width: 10rem;
    border: none;
    border-radius: 5px;
}

#addWord {
    text-align: center;
}

.add-group-container {
    text-align: center;
}
